---
layout: articles
---
<div class="container">
<div class="wrap">
    <div class="post-list">
        <a class="post-link" href="{{ page.url | relative_url }}">
            <h2>{{ title | escape }}</h2>
            <img src="{{ page.image }}">
        </a>
        <div class="post-info">
            <ul>
                <li>
                    {% if page.collection %} <img class="svg" src="{{ site.baseurl }}/assets/icons/label3.svg" alt=""> {{ page.collection }}
                    {% endif %}
                </li>
                <li>
                    <img class="svg" src="{{ site.baseurl }}/assets/icons/clock.svg" alt=""> 
                    {% include date-logic.html %}
                </li>
                {% if page.author %}<li> <img class="svg" src="{{ site.baseurl }}/assets/icons/author.svg" alt=""> {{ page.author }}</li>
                {% endif %}
            </ul>
            <div class="info-tags">
                {% for tags in page.tags %}
                {% include article-tags.html %}
                {% endfor %}
            </div>
                {{ content }}
        </div>
    </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
